

<div class="container bg-light text-dark shadow p-2" style="font-family: 'Righteous', sans-serif; text-align: center; min-height:90vh;">

    <h1 class="pt-5">Perfiles encontrados:</h1>

    <div class="row mt-5">

        <div class="input-group  col-md-6 offset-md-3 mt-5 ">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nº</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-toggle="modal" data-target="#modalInfoUsuario" onclick="cargarInformacion(4)" href="" >
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr data-toggle="modal" data-target="#modalInfoUsuario" href="">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>

                </tbody>
            </table>


        </div>

    </div>

</div>

<script>
    function cargarInformacion(idUsuario){
        $("#divModal").html("Cargando...");
        $.ajax({
          url: '/user/ajaxLeerInformacion/' + idUsuario,
          success: function (data) {
            $("#divModal").html(data);
          }
        });
    }
</script>
