    
{% for persona in param %}
    <tr data-toggle="modal" data-target="#modalInfoUsuario" href="">
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellidos}}</td>
     </tr>
    
{% endfor %}