    
{% for persona in param %}
    <tr data-toggle="modal" onclick="modalbusqueda" data-target="#modalInfoUsuario" href="">
        <td id="{{persona.idUs}}">{{persona.nombre}}</td>
        <td>{{persona.apellidos}}</td>
     </tr>
    
{% endfor %}