    
{% for persona in param %}
    <tr id="{{persona.idUs}}" onclick='modalbusqueda(this)' class="conModal" data-toggle="modal" data-target="#modalInfoUsuario" href="">
        <td >{{persona.nombre}}</td>
        <td>{{persona.apellidos}}</td>
     </tr>
    
{% endfor %}


