<div id="pantallaMensajes" class="container bg-light text-dark shadow"
    style="font-family: 'Righteous', sans-serif; min-height:90vh; padding-bottom: 100px;overflow-wrap:break-word ">

    {% include 'grupos/_consultarConversacionGrupo.html.twig' %}

</div>

<div id="barraChat" class='fixed-bottom bg-primary p-3' style="height:0px">
    <div class='row align-items-center'>
        <div class='col-md-1'></div>
        <div class='col-md-9'>
            <textarea id="mensajeEnviar" type="textarea" spellcheck="true" class="form-control w-100 py-auto mb-1"
                id="mensaje" placeholder="Mensaje" rows="1"
                style="font-family: 'Righteous', sans-serif; font-size: 25px;"></textarea>
        </div>
        <div class='col-md-1 text-center'>
            <button id="botonEnviar" class="btn btn-primary">
                <h6 class="m-2"><i class="fa fa-envelope" aria-hidden="true"></i> Enviar</h6>
            </button>
        </div>
        <div class='col-md-1'></div>
    </div>
</div>
<script>
    var idUsuario = 1;
    var idGrupo = {{ idGrupo }};

    var alturaPantalla = window.screen.width;
    if (alturaPantalla < 768) {
        $("#barraChat").animate({
            height: '120px'
        });
    } else {
        $("#barraChat").animate({
            height: '100px'
        });
    }
    $("#botonEnviar").on("click", function () {
        $("#botonEnviar").off();
        $.ajax({
            url: '/principal/escribirMensaje/' + idUsuario + "/" + idGrupo + "/" + $("#mensajeEnviar").val(),
            success: function (data) {
                //$("#pantallaMensajes").html(data).fadeIn(200);
                $("#mensajeEnviar").val("");
                console.log("Mensaje guardado en la base de datos");
                cargarPantallaChat();
            }
        });
    });

    function cargarPantallaChat() {
        $("#contenedorPantallas").fadeOut(200, function () {
            $.ajax({
                url: '/grupos/ajaxObtenerConversacion/' + idGrupo,
                success: function (data) {
                    $("#contenedorPantallas").html(data).fadeIn(500);
                }
            });
        })
    }

    timer = setTimeout("temporizador()", 10000); ///Se refresca cada 10s
    function temporizador() {
        console.log("Hola");
        $.ajax({
            url: '/grupos/ajaxRefrescarPantallaConversacion/' + idGrupo,
            success: function (data) {
                $("#pantallaMensajes").html(data);
            }
        });
        timer = setTimeout("temporizador()", 10000);
    }
    
</script>