<div id="pantallaMensajes" class="container bg-light text-dark shadow"
    style="font-family: 'Righteous', sans-serif; min-height:90vh; padding-bottom: 100px;overflow-wrap:break-word ">

    <!-- ------------------------------AJAX-------------------------------------------------------------------------------- -->

    {% include 'grupos/_consultarConversacionGrupo.html.twig' %}

    <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
</div>

<div id="barraChat" class='fixed-bottom bg-primary p-3' style="height:0px">
    <div class='row align-items-center'>
        <div class='col-md-1'></div>
        <div class='col-md-9'>
            <textarea id="mensajeEnviar" type="textarea" spellcheck="true" class="form-control w-100 py-auto mb-1"
                id="mensaje" placeholder="Mensaje" rows="1"
                style="font-family: 'Righteous', sans-serif; font-size: 25px;"></textarea>
        </div>
        <div class='col-md-1 text-center'>
            <button id="botonEnviar" class="btn btn-primary">
                <h6 class="m-2"><i class="fa fa-envelope" aria-hidden="true"></i> Enviar</h6>
            </button>
        </div>
        <div class='col-md-1'></div>
    </div>
</div>
<script>
    var alturaPantalla = window.screen.width;
    if (alturaPantalla < 768) {
        $("#barraChat").animate({
            height: '120px'
        });
    } else {
        $("#barraChat").animate({
            height: '100px'
        });
    }
    $("#botonEnviar").on("click", function () {
        //var d = new Date();
        //var ahoraMismo = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + " (" + d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + ")";
        //$("#pantallaMensajes").prepend('<blockquote class="blockquote pt-3"><div class="row"><div class="col-4"><i class="fa fa-envelope" aria-hidden="true"></i> <a class="font-italic text-primary" data-toggle="modal" data-target="#modalInfoUsuario" href=""> Nombre</a></div><div class="col-8 text-right"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="font-italic text-danger text-nowrap"> ' + ahoraMismo + '</span></div></div><p class="mb-0">' + $("#mensajeEnviar").val() + '</p></blockquote>');
        $("#botonEnviar").off();
        alert($('#ns-idCanal').val());
        $.ajax({
            url: '/principal/escribirMensaje/' + $('#ns-idUsuario').val()  + "/" + $('#ns-idCanal').val() + "/" + $("#mensajeEnviar").val(),
            success: function (data) {
                //$("#pantallaMensajes").html(data).fadeIn(200);
                $("#mensajeEnviar").val("");
                console.log("Mensaje guardado en la base de datos");
                cargarPantallaChat();
            }
        });
    });

    function cargarPantallaChat() {
        $("#contenedorPantallas").fadeOut(200, function () {
            //$(this).load("../plantillas/pantallas/pantallaChat.php").fadeIn(300);
            $.ajax({
                url: '/grupos/ajaxObtenerConversacion/' + 1,
                success: function (data) {
                    $("#contenedorPantallas").html(data).fadeIn(500);
                }
            });
        })
    }
</script>