<div id="pantallaOpciones" class="container bg-light text-dark shadow"
  style="font-family: 'Righteous', sans-serif; min-height:90vh; padding-bottom: 100px;overflow-wrap:break-word ">
  <div class="container pt-5 text-center">
    <h1>¿Desea cancelar su suscripción al grupo?</h1>
    <button type="button" class="btn btn-primary mt-5 btn-lg" data-toggle="modal" data-target="#exampleModal">
      ok
    </button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body text-center">
        <h1>¿Estás seguro?<h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" onclick="chat.menuDeleteGrupo( {{idGrupo}} )">Si</button>
      </div>
    </div>
  </div>
</div>