

/*   propiedades de historial de mensajes  */

.chat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chat #chatOutput {
    overflow-y: scroll;
    height: 400px;
    border: 1px solid #777;
}

