{# {% for canal in canalesItem %}
        <!--  Función para insertar usuario    MODIFICAR USUARIO  -->
        <a class="dropdown-item" onclick="chat.menuAddGrupo({{canal.idCanal}}, '{{canal.nombre}}' )" href="#"> {{canal.nombre}} </a>
{% endfor %} #}
