<div id="modalInfoUsuario" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="divModal" class="modal-body">
            <!-- inyectamos contenido -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script>
    /*function modalbusqueda(obj){
        $("#divModal").html("Cargando");
        var id = obj.getAttribute("id");
        $.ajax({
            //VA LA RUTA DE LA FUNCION DEL CONTROLADOR USER QUE MUESTRE POR PANTALLA LOS PERFILES DE USUARIO!!!!!!!!!!!!!!!!!!!
            url:"/user/leerPerfilUsuario/" + id,
            success:function(data){
                $("#divModal").html(data);
            }
        });
    }*/
</script>