<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand mr-5" href="/principal">
        <h1><i class="fa fa-users" aria-hidden="true"></i> Chat;)</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-md-3 my-2" id="navbarSupportedContent">
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Grupos de Chat;)
            </button>
            <div id="menuGrupos" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                {% for canal in canalesItem %}
                    <a id="menuOpcion{{canal.idCanal}}" class="dropdown-item" onclick="chat.menuAddGrupo({{canal.idCanal}}, '{{canal.nombre}}' )" href="#"> {{canal.nombre}} </a>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline my-2 my-sm-0 mr-auto">
            <input id="idBusqueda" class="form-control mr-md-2" type="" placeholder="Buscar" aria-label="Search">
            <button id="botonBuscar" class="btn btn-dark my-2 my-md-0" type="">
                <h6 class="mt-2"> <i class="fa fa-search" aria-hidden="true"></i> Buscar </h6>
            </button>
        </div>

        <a id="modificarPerfil" class="button btn btn-outline-success my-2 my-md-0 mr-md-2" href="/usuarios/edit">
            <h6 class="mt-2"> <i class="fa fa-cog" aria-hidden="true"></i> Perfil </h6>
        </a>

        <a class="btn btn-outline-danger my-2 my-md-0" href="/logout">
            <h6 class="mt-2"> <i class="fa fa-sign-out " aria-hidden="true"></i> Logout </h6>
        </a>
    </div>
</nav>