<button id="botonEsconderBarraIzq" class="btn btn-outline-primary  my-2 d-block w-100 d-md-none">
  Mis grupos de Chat
</button>

<div class="row w-100">
  <div class="col-auto">
    <div id="barraIzquierda" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical"
      style="min-width: 12em; padding-bottom: 100px;">
    </div>
  </div>

  <div id="contenedorPantallas" class="col">

    {% include 'user/ajaxInformacion.html.twig' %}

  </div>
</div>

<script>
  $(function () {
      var grupos = [{% for canal in canalesSuscrito %} '{{ canal.nombre }}' ,  {% endfor %}];
      var ids = [{% for canal in canalesSuscrito %} {{ canal.idCanal }} ,  {% endfor %}];

      grupos.forEach(function (item, index) {
        chat.menuCargarGrupo(ids[index], item);
      });
  });
</script>