
<button id="botonEsconderBarraIzq" class="btn btn-outline-primary  my-2 d-block w-100 d-md-none">
  Mis grupos de Chat
</button>

<div class="row w-100">
  <div class="col-auto">
    <div id="barraIzquierda" class="nav flex-column nav-pills" role="tablist"
      aria-orientation="vertical" style="min-width: 12em; padding-bottom: 100px;">
    </div>
  </div>

  <!-- CONTENIDO  -->

  <div id="contenedorPantallas" class="col">
  
    {% include 'user/ajaxInformacion.html.twig' %}
           
  </div>
</div>




<script>
  var grupos = [{% include '_consultarGruposSuscritos.html.twig' %} ];
  var ids = [{% include '_consultarIdGruposSuscritos.html.twig' %} ];
  $(function () {
    grupos.forEach(function (item, index) {
      $("#barraIzquierda").append('<a idGrupo='+ ids[index] +' class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><h4><i class="fa fa-hashtag" aria-hidden="true"></i> ' + item + '</h4></a><div class="nav flex-column nav-pills emergente" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="display: none;"><a id="v-pills-profile-tab" class="ml-5 mr-5 infoGrupo text-secondary" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Información</a><a id="v-pills-profile-tab" class="ml-5 mr-5 text-secondary" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Opciones</a></div>');
    });
    eventosBarraLateral();

    $("#botonBuscar").click(function (event) {
      $("#contenedorPantallas").fadeOut(200, function () {
        //Petición a BBDD y AJAX
        //$(this).load('../plantillas/pantallas/pantallaBuscar.php').fadeIn(300);
        $.ajax({
          url: '/user/ajaxBuscarUsuario/'+$("#idBusqueda").val(),
          success: function (data) {
            $("#contenedorPantallas").html(data).fadeIn(200);
          }
        });
      });
    });
    $("#botonEsconderBarraIzq").off().on("click",function(){
      $("#barraIzquierda").slideToggle();
    });
  });

  function eventosBarraLateral() {
    $("#barraIzquierda").children("a").off().on("click", function (evt) {
      $("#barraIzquierda").children("a").next().slideUp();
      $(this).next().slideDown();
      var obj=$(this);

      $("#contenedorPantallas").fadeOut(200, function () {
        //$(this).load("../plantillas/pantallas/pantallaChat.php").fadeIn(300);
        $.ajax({
          url: '/grupos/ajaxObtenerConversacion/' + obj.attr('idGrupo'),
          success: function (data) {
            $("#contenedorPantallas").html(data).fadeIn(500);
            $('#ns-idGrupo').val(obj.attr('idGrupo'));
          }
        });
      })
    })

    $("#barraIzquierda .infoGrupo").off().on("click", function (event) {
      $("#contenedorPantallas").fadeOut(200, function () {
        //$(this).load('../plantillas/pantallas/pantallaInfoGrupo.php').fadeIn(300);
         var idgrupo=1;//TRABAJANDO EN ELLO
        $.ajax({
          url: '/grupos/ajaxObtenerConversacion/'+idgrupo,
          success: function (data) {
            $("#contenedorPantallas").html(data).fadeIn(200);
          }
        });
      });
    });
  }

</script>