<button id="botonEsconderBarraIzq" class="btn btn-outline-primary  my-2 d-block w-100 d-md-none">
  Mis grupos de Chat
</button>

<div class="row w-100">
  <div class="col-auto">
    <div id="barraIzquierda" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical"
      style="min-width: 12em; padding-bottom: 100px;">
    </div>
  </div>

  <!-- CONTENIDO  -->

  <div id="contenedorPantallas" class="col">

    {% include 'user/ajaxInformacion.html.twig' %}

  </div>
</div>




<script>
 
  $(function () {
      var grupos = [{% include '_consultarGruposSuscritos.html.twig' %} ];
      var ids = [{% include '_consultarIdGruposSuscritos.html.twig' %} ];

      grupos.forEach(function (item, index) {
        chat.menuCargarGrupo(ids[index], item);
      });
      eventosBarraLateral();
  });


  function eventosBarraLateral() {
    /*
    $("#barraIzquierda").children("a").off().on("click", function (evt) {
      $("#barraIzquierda").children("a").next().slideUp();
      $(this).next().slideDown();
      idGrupo=$(this).attr('idGrupo');
      //$("#contenedorPantallas").fadeOut(200);
      
      if ($('pantallaMensajes').lengt==0)
        $.ajax({
          url: '/grupos/ajaxObtenerConversacion/' + idGrupo,
          success: function (data) {
            $("#contenedorPantallas").html(data).fadeIn(500);
            $('#ns-idGrupo').val(idGrupo);
          }
        });
      });

    $("#botonEsconderBarraIzq").off().on("click",function(){
      $("#barraIzquierda").slideToggle();
    });
 */
  }




   /* function funcionOpciones(obj) {
          var idgrupo=obj.getAttribute('idGrupo');
          $("#contenedorPantallas").fadeOut(200, function () {
            $.ajax({
              url: '/grupos/ajaxOpciones/' + idgrupo,
              success: function (data) {
                refrescando=false;
                $("#contenedorPantallas").html(data).fadeIn(200);
              }
            });
          });
        }
*/

  /*   function infogrupo(obj) {
      var idgrupo=obj.getAttribute('idGrupo');
      $("#contenedorPantallas").fadeOut(200, function () {
        $.ajax({
          url: '/grupos/ajaxObtenerInformacion/' + idgrupo,
          success: function (data) {
            refrescando=false;
            $("#contenedorPantallas").html(data).fadeIn(200);
          }
        });
      });
     }
*/
</script>