{% extends 'base.html.twig' %}

{% block title %}Hello BBDDController!{% endblock %}

{% block body %}

{% for canal in canalesItem %}
    <h1>{{ canal.nombre }} </h1>
{% endfor %}




{% endblock %}
