<div class="container mt-2" style="font-family: 'Righteous', sans-serif;">  
       <div class="row">
               <div class=" rounded mx-auto d-block shadow">
                       <img id="imgSalida" height="200" src="../resources/foto-carnet.jpg" class="rounded" alt="foto perfil">
                       <!--  URL de las fotos asi:   ../resources/foto-carnet.jpg   -->
               </div>
       </div>
   
       <div class="row">
                <div class="col-md-4 offset-md-4 mt-2 ">
                           <div class="custom-file">
                                   <input id="fotoUsuario" name="foto" type="file" class="custom-file-input w-auto" aria-describedby="inputGroupFileAddon03" required>
                                   <label class="custom-file-label" for="inputGroupFile03">Buscar archivo</label>
                           </div>
                </div>

                {# <div class="col-md-2  mt-2">
                       <button class="btn btn-primary btn-block " type=""> Subir imagen </button>
                </div>               #}
        </div>
        <div class="row">
                <hr>
        </div>
       <div class="row">
               <div class="input-group  col-md-3 offset-md-3 mt-2">
                       <div class="input-group-prepend">
                           <span class="input-group-text font-weight-bold" id="basic-addon3">Nombre</span>
                       </div>
                       <input id="nombreUsuario" type="text" name="nombre" class="form-control" aria-describedby="basic-addon3" required>
               </div>
   
               <div class="input-group col-md-3 mt-2">
                       <div class="input-group-prepend">
                               <span class="input-group-text font-weight-bold" >Apellidos</span>
                           </div>
                       <input id="apellidosUsuario" type="text" name="apellidos" class="form-control" required>
               </div>
   
       </div>

       <div class="row">
               <div class="input-group col-md-3 offset-md-3 mt-2">
                        <div class="input-group-prepend">
                                <span class="input-group-text font-weight-bold" id="basic-addon3">Fecha n.</span>
                        </div>
                        <input id="nacimientoUsuario" type="date" name="nacimiento" class="form-control" aria-describedby="basic-addon3"  required>
             </div>
   
               <div class="input-group col-md-3 mt-2  ">
               <div class="input-group-prepend">
                                   <span class="input-group-text font-weight-bold" id="basic-addon3">Puesto</span>
                           </div>
                           <select id="puestoUsuario" name="puesto" class="custom-select"  required >
                                   <option selected> </option>
                                   <option value="desarrollador">Desarrollador</option>
                                   <option value="analista">Analista</option>
                                   <option value="sistemas">Sistemas</option>
                                   <option value="seguridad">Seguridad</option>
                                   <option value="recursos humanos">Recursos Humanos</option>
                                   <option value="administracion">Administración</option>
                           </select>
               </div>
   
       </div>
   
   
       <div class="row">
               <div class=" input-group col-md-6 mt-2 offset-md-3 ">
                       <div class="input-group-prepend">
                               <span class="input-group-text font-weight-bold" id="basic-addon3">Correo</span>
                       </div>
                       <input id="inputCorreo" type="text" name="correo" class="form-control" readonly >
               </div>
       </div>
   
           <div class="row">
                   <div class="col-md-3 offset-md-3 mt-2">
                       <input type="password" name="password1" class="form-control" placeholder="Password" required>
                   </div>
                   
                   <div class="col-md-3 mt-2  ">
                       <input type="password" name="password2" class="form-control" placeholder="Confirmar password" required>
                   </div>    
           </div>
   
   
           <div class="row">            
                   <div class="input-group col-md-6 mt-2 offset-md-3">
                           <div class="input-group-prepend">
                               <span class="input-group-text font-weight-bold">Conocimientos</span>
                           </div>
                           <textarea id="conocimientosUsuario" name="conocimientos" class="form-control" aria-label="With textarea" required></textarea>
                   </div>
                   <div class="col-md-2"></div>
           </div>
   
           <div class="row">            
   
                   <div class="input-group col-md-6 mt-2 offset-md-3">
                           <div class="input-group-prepend">
                               <span class="input-group-text font-weight-bold">Aficiones</span>
                           </div>
                           <textarea id="aficionesUsuario" name="aficiones" class="form-control" aria-label="With textarea" required></textarea>
                   </div>
                   <div class="col-md-2"></div>
           </div>
    
           <div class="row">
                   <div class="col-md-6 offset-md-3 my-2">
                       <button class="btn btn-primary btn-block p-2" type=""> Confirmar </button>
                   </div>              
           </div>
           
   </div>
   

<script type="text/javascript">
        $(window).on('load',function(){
        //$(window).load(function(){
        $(function() {
            $('#fotoUsuario').change(function(e) {
                addImage(e); 
            });

            function addImage(e){
                var file = e.target.files[0],
                imageType = /image.*/;
                if (!file.type.match(imageType))
                return;

                var reader = new FileReader();
                reader.onload = fileOnload;
                reader.readAsDataURL(file);
            }

            function fileOnload(e) {
                var result=e.target.result;
                $('#imgSalida').attr("src",result);
            }
        });
 });

</script>